
body {
    display: flex;
    background-image: url(../img/whatstudy.achtergrond.jpg);
    margin: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
}

#publicRoomPage {
    background-color: rgb(255, 255, 255);
    border: 3px solid;
    border-radius: 20px;
    margin: auto;
    padding: 50px;
    width: 80%;
}

#windesheim_logo {
    float: left;
    margin-top: 5px;
}

#home_Page {
    margin-left: 500px;
}

.user_id {
    text-align: center!important;
    
}

.description {
    margin-top: 5px;
}

.name {
    margin-left: 40px;
}

#input_messages {
    margin-bottom: 10px;
    border-radius: 20px;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
    width: 50%;
    margin-left: 10px;
    padding-left: 10px;
}

.time {
    margin-bottom: 20px;
    margin-left: 25px;
}

#ori {
    display: flex;
    text-align: center;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 850px;
    margin-right: 0px;
    font-weight: bold;
    color: white;
}

#text {
    display: flex;
    text-align: center;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 550px;
    margin-right: 0px;
    font-weight: bold;
    color: white;
}

.text-center {
    color:white;
}

#studentnummer {
    margin-top: 20px;
}

.messages {
    background-color: rgb(36, 202, 14);
    border: 3px solid;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.button_send {
    width: 220px;
    padding: 50px;
}

@media only screen and (max-width: 600px) {
    #whatstudy {
      display: none;
    }
  }

  @media only screen and (max-width: 600px) {
    .messages {
      width: 90%;
    }
  }